<h3>Aventures disponibles :</h3>
<table border="1">
	<tr>
		<th>Nom de l'aventure</th>
		<th>Description de l'aventure</th>
	<th>New Game</th>
	</tr>
	{% for key in adventures %}
		<tr>
			<td>{{key["name"]}}</td>
			<td>{{key["description"]}}</td>
			<td><a href="{{path('homepage')}}newgame/{{key.id_adventure}}"><img class="icon-profil" src="{{ asset('img/001-rocket-launch.png') }}"></a></td>
		</tr>
	{% endfor %}
</table>
