{% extends "layoutBO.html.twig" %}

{% block content %}

<h2>Gestion des sauvegardes</h2>
{% if save != NULL%}
<table border="1">
	<tr>
	{% for key, value in save[0] %}
		<th>{{ key }}</th>
	{% endfor %}
		<th>action</th>
	</tr>
	{% for key in save %}
		<tr>
			{% for value in key %}
				<td>{{ value }}</td>
			{% endfor %}
				<td>
			  <a href="{{ path('deletesave', {'id_save' : key.id_save}) }}"><img src="{{ asset('img/delete.png') }}"></a>
				</td>
		</tr>
	{% endfor %}
</table>
{% else %}
{{ msg }}
{% endif %}
{% endblock %}
