{% extends "layoutBO.html.twig" %}

{% block content %}

<h2>Gestion des sauvegardes</h2>

<table border="1">
	<tr>
	{% for key, value in save[0] %}
		<th>{{ key }}</th>
	{% endfor %}
	<th>Actions</th>
	</tr>
			<td>{{ i }}</td>
			<td>
				<a href="{{ path('deleteadventure', {'id_adventure' : key.id_save}) }}"><img src="{{ asset('img/delete.png') }}"></a>
				<a href="{{ path('modifyadventure', {'id_adventure' : key.id_save}) }}"><img src="{{ asset('img/edit.png') }}"></a>
				<a href="{{ path('displayadventure', {'id_adventure' : key.id_save}) }}"><img src="{{ asset('img/info.png') }}"></a>
			</td>
		</tr>
	{% endfor %}
</table>

{{ msg }}

{% endblock %}
