

<h2 class="gestion_header">Gestion des pages de l'aventure {{ adventure.id_adventure }}</h2>

<table>
	<tr>
		<th>Numero de page</th>
		<th>Pages associées</th>
		<th>action</th>
	</tr>
	{% for key in page %}
		<tr>
				<td>{{ key["page_number"] }}</td>
				<td>
				{% if key["ending"] == NULL %}
				{% for choice in choices %}
					{% if key["id_page"] == choice["id_current_page"] %} - {% for key2 in page %}{% if choice["id_landing_page"] == key2["id_page"] %}{{key2["page_number"]}}{% endif %}{% endfor %}{% endif %}
				{% endfor %} - 
				{% else %}
					{{key["ending"]}}
				{% endif %}
				</td>
				<td>
			  <a href="{{ path('deletepage', {'id_adventure' : adventure.id_adventure,'id_page' : key.id_page}) }}"><img src="{{ asset('img/delete.png') }}"></a>
			  <div id="{{key.id_page}}" class="pageedit"><img src="{{ asset('img/edit.png') }}"></div>
				</td>
		</tr>
	{% endfor %}
</table>

