{% block content %}

<h2>Gestion des pages de l'aventure {{ adventure.id_adventure }}</h2>

<table border="1">
	<tr>
	{% for key, value in page[0] %}
		<th>{{ key }}</th>
	{% endfor %}
		<th>action</th>
	</tr>
	{% for key in page %}
		<tr>
			{% for value in key %}
				<td>{{ value }}</td>
			{% endfor %}
				<td>
			  <a href="{{ path('deletepage', {'id_adventure' : adventure.id_adventure,'id_page' : key.id_page}) }}"><img src="{{ asset('img/delete.png') }}"></a>
				</td>
		</tr>
	{% endfor %}
</table>


{% endblock %}
