{% extends 'layoutBO.html.twig' %}

{% block content %}
<script>var id_adventure = {{adventure["id_adventure"]}};</script>

<form id="adventure_edit">

	<label>Name</label>
	<input type="text" name="name" value="{{adventure["name"]}}">

	<label>Description</label>
	<textarea rows="3" cols="30" name="description">{{adventure['description']}}</textarea>

	<label>Pitch</label>
	<textarea rows="3" cols="30" name="pitch">{{adventure['id_adventure']}}</textarea>

	<input type="submit" value="Modifier">

</form>

<a href="{{path('homepage')}}toggleadventure/{{adventure["id_adventure"]}}">{% if adventure["active"] == TRUE %}Desactiver aventure{% else %}Activer aventure{% endif %}</a>

<a href="{{path('homepage')}}addpage/{{adventure["id_adventure"]}}">Ajouter une page</a>
<div id="adventure_pages"></div>

<div id="page_edit_form"></div>

<script  type="text/javascript" src="{{ asset('js/modifyadventure.js') }}"></script>
{% endblock %}
