<!DOCTYPE html>
<!--  Last Published: Mon May 22 2017 15:33:23 GMT+0000 (UTC)  -->
<html data-wf-page="591dbb2c653bab09628cdd32" data-wf-site="591dbb2c653bab09628cdd31">
<head>
  <meta charset="utf-8">
  <title>Team Orbital HomePage</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="{{ asset('css/normalize.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('css/components.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('css/team-orbital-homepage.css') }}" rel="stylesheet" type="text/css">
  <script src="{{ asset('js/modernizr.js') }}" type="text/javascript"></script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="container w-container">
      <a class="w-nav-brand" data-ix="fadein" href="#"><img class="image-4" data-ix="logo-hover" src="{{ asset('img/logo-seul-test3.svg') }}" width="150">
      </a>
    </div>
  </div>
  <div class="section-3">
    <div>
      <div class="row-2 w-row">
        <div class="column-2 w-col w-col-6 w-col-stack w-col-tiny-tiny-stack">
          <div class="div-block-8">
            <h1 class="heading-4" data-ix="movetoright">BIENVENUE,<br>AVENTURIER.</h1>
          </div>
        </div>
        <div class="column-3 w-col w-col-6 w-col-stack w-col-tiny-tiny-stack" data-ix="movetoleft">
          <h1 class="heading-3">une épopée incroyable...</h1>
          <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="container-3 w-container"><a class="boutonhome button w-button" data-ix="fadedown" href="#">inscription</a><a class="boutonhome button w-button" data-ix="fadedown-2" href="#">Se connecter</a>
    </div>
  </div>
  <div class="section-5">
    <div class="div-block-5" data-ix="fadeup">
      <div class="div-block-7">
        <a class="link-block w-inline-block" target="_blank"><img src="{{ asset('img/003-facebook-letter-logo.png') }}" width="40">
        </a>
        <a class="link-block-2 w-inline-block" target="_blank"><img src="{{ asset('img/002-twitter-black-shape.png') }}" width="40">
        </a>
        <a class="link-block-3 w-inline-block" target="_blank"><img src="{{ asset('img/001-instagram-logo.png') }}" width="40">
        </a>
      </div>
      <div class="div-block-6"><a class="link w-preserve-3d" data-ix="linkhover" href="#">FACEBOOK</a><a class="link w-preserve-3d" data-ix="linkhover" href="#">TWITTER</a><a class="link w-preserve-3d" data-ix="linkhover" href="#">INSTAGRAM</a>
      </div>
      <div class="div-block-9"><a class="link w-preserve-3d" data-ix="linkhover" href="#">2017©TEAMORBITAL</a>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="{{ asset('js/team-orbital-homepage.js') }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>
