{% if is_granted('ROLE_ADMIN') %}
  <!DOCTYPE html>
  <html>
    <head>
      <title>{% block title '' %} - admin orbital express</title>
      <script  type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
      <script>var baseUrl = "{{ path('homepage') }}";</script>
    </head>
    <body>


        <div class="nav_link"><a href="{{ path("tableau") }}">Profil</a></div>
        <div class="nav_link"><a href="{{ path("logout") }}">Deconnexion</a></div>
        <div class="nav_link"><a href="{{ path("gestionUser") }}">Gestion membres</a></div>
        <div class="nav_link"><a href="{{ path("gestionAdventure") }}">Gestion aventures</a></div>
        <div class="nav_link"><a href="{{ path("gestionSave") }}">Gestion sauvegardes</a></div>
        <div id="load_gestion">{% block content %}{% endblock %}</div>
        <script  type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/gestionJs.js') }}"></script>
    </body>
  </html>
{% else %}
    <script>window.location.href = "{{ path("homepage") }}"</script>
{% endif %}
