<!DOCTYPE html>
<html>
    <head>
      <title>{% block title '' %} - admin orbital express</title>
    </head>
    <body>
      {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <div class="nav_link"><a href="{{ path("tableau") }}">Profil</a></div>
        <div class="nav_link"><a href="{{ path("logout") }}">Deconnexion</a></div>
      {% else %}
        <div class="nav_link"><a href="#">Connexion</a></div>
      {% endif %}
        <div class="nav_link"><a href="{{ path("contact") }}">Contact</a></div>
        <div class="nav_link"><a href="#">Regles du jeu</a></div>
      {% if is_granted('ROLE_ADMIN') %}
        <div class="nav_link"><a href="{{ path("gestionUser") }}">Gestion membres</a></div>
        <div class="nav_link"><a href="{{ path("gestionAdventure") }}">Gestion aventures</a></div>
        <div class="nav_link"><a href="{{ path("gestionSave") }}">Gestion sauvegardes</a></div>
      {% endif %}

        <div id="load_gestion">{% block content %}{% endblock %}</div>

        <script  type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/gestionJs.js') }}"></script>
    </body>
</html>
