{% extends "layout.html.twig" %}

{% block data_html %} data-wf-page="59229b44024ad86ffbd70c4c" data-wf-site="591dbb2c653bab09628cdd31" {% endblock %}

{% block title %}Aventure{% endblock %}



{%  block body_class %} class="body-2" {% endblock %}



{% block content %}

  <div class="div-block-15" data-ix="hide-nav-menu">
    <div class="nav_menu_flex">
      <a class="w-inline-block" href="#"><img class="close_menu" data-ix="close-menu" src="{{ asset('img/001-error.png') }}">
      </a>
      <a class="link-block-9 w-inline-block" href="#">
        <div class="nav_link">Profil</div>
        <div class="nav_link">Contact</div>
        <div class="nav_link">Regles du jeu</div>
        <div class="nav_link">Deconnexion</div>
        <div class="nav_link">Gestion membres</div>
        <div class="nav_link">Gestion aventures</div>
        <div class="nav_link">Gestion sauvegardes</div>
      </a>
    </div>
  </div>
  <div class="menuburger" data-ix="slide-navbar-out">
    <a class="link-block-8 w-inline-block" href="#"><img src="{{ asset('img/002-menu.png') }}" width="40">
    </a>
  </div>
  <div class="section-9"><img class="image-10" sizes="(max-width: 1920px) 100vw, 1920px" src="{{ asset('img/hautpngtest.png') }}" srcset="{{ asset('img/hautpngtest-p-500.png') }} 500w, {{ asset('img/hautpngtest-p-800.png') }} 800w, {{ asset('img/hautpngtest-p-1080.png') }} 1080w, {{ asset('img/hautpngtest-p-1600.png') }} 1600w, {{ asset('img/hautpngtest.png') }} 1920w"><img class="image-9" sizes="(max-width: 1920px) 100vw, 1920px" src="{{ asset('img/baspngtest.png') }}" srcset="{{ asset('img/baspngtest-p-500.png') }} 500w, {{ asset('img/baspngtest-p-800.png') }} 800w, {{ asset('img/baspngtest-p-1080.png') }} 1080w, {{ asset('img/baspngtest-p-1600.png') }} 1600w, {{ asset('img/baspngtest.png') }} 1920w">
  </div>
  <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="container w-container">
      <a class="brand w-nav-brand" data-ix="fadein" href="#"><img class="image-4" data-ix="logo-hover" sizes="150px" src="{{ asset('img/logowebfinal.png') }}" srcset="{{ asset('img/logowebfinal-p-500.png') }} 500w, {{ asset('img/logowebfinal-p-800.png') }} 800w, {{ asset('img/logowebfinal.png') }} 1024w" width="150">
      </a>
    </div>
  </div>
  <div class="section-7">
    <div class="container-4 w-container">
      <h1 class="heading-5" data-ix="fadedown">Journal de bord</h1>
      <h1 class="heading-6" data-ix="fadedown-2">username J-250</h1>
    </div>
  </div>
  <div class="section-6">
    <div class="container-5 w-container" data-ix="fadedown-3">
      <div class="div-block-10">
        <p id="story" class="paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet leo vitae faucibus lacinia. Vivamus hendrerit ut nibh nec rhoncus. Nam dapibus ante sit amet tellus consectetur, eu eleifend magna tincidunt. Aenean vel nibh a ligula venenatis finibus in fringilla mi. Praesent dictum condimentum est volutpat viverra. Nulla quis hendrerit felis, vel consequat nulla. Suspendisse eget aliquet odio. Aenean vel nisl tincidunt, egestas lectus quis, maximus mauris. Sed facilisis, nisl nec fringilla tristique, ligula nisl tincidunt odio, sed faucibus nibh erat quis ante. Duis a nibh sapien. Cras molestie erat metus, ut tristique diam eleifend finibus. Nam pulvinar nibh ut leo facilisis, sed interdum arcu finibus. Aliquam malesuada augue condimentum arcu tempor mattis. Sed ullamcorper elementum ipsum, vel viverra nibh scelerisque at.

Cras efficitur venenatis elementum. Pellentesque eu massa lacus. Etiam porta lobortis imperdiet. Nunc nec malesuada sem, quis euismod elit. Nam eget diam non felis tincidunt sagittis. Nulla porta est non felis pellentesque auctor. Vestibulum posuere viverra massa, eu pulvinar magna consequat sed. Morbi vestibulum sed nisl eu ornare. Vivamus consequat nec urna ac consequat. Ut ut justo a lorem euismod accumsan. Nam metus dui, cursus vitae pretium eget, eleifend lobortis metus. Praesent fringilla consequat pellentesque.

</p>
      </div>
    </div>
  </div>
  <div class="section-8">
    <div class="container-6 w-container" data-ix="movetoleft-2">
      <div class="div-block-11"><img class="image-5" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">

        <p id="response1" class="paragraph-4">Loading...</p>
        <div id="link1" class="linkchoice"><div class="divcheck" data-ix="clickcheck">
          <div class="div-block-13 w-preserve-3d"></div>
        </div><a class="button-4 w-button" href="#">Valider ce choix</a></div>
      </div>
      <div class="div-block-11"><img class="image-5" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
        <p id="response2" class="paragraph-4">Loading...</p>
        <div id="link2" class="linkchoice"><div class="divcheck" data-ix="clickcheck">
          <div class="div-block-13 w-preserve-3d"></div>
        </div><a class="button-4 w-button" href="#">Valider ce choix</a></div>
      </div>
      <div class="div-block-11"><img class="image-5" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
        <p id="response3" class="paragraph-4">Loading...</p>
        <div id="link3" class="linkchoice"><div class="divcheck" data-ix="clickcheck">
          <div class="div-block-13 w-preserve-3d"></div>
        </div><a class="button-4 w-button" href="#">Valider ce choix</a></div>

      </div>
    </div>
  </div>
{% endblock %}


