{% extends "layout.html.twig" %}

{% block data_html %} data-wf-page="59229b44024ad86ffbd70c4c" data-wf-site="591dbb2c653bab09628cdd31" {% endblock %}

{% block title %}Aventure{% endblock %}



{%  block body_class %} class="body-2" {% endblock %}



{% block content %}

  <div class="section-9"><img class="image-10" sizes="(max-width: 1920px) 100vw, 1920px" src="{{ asset('img/hautpngtest.png') }}" srcset="{{ asset('img/hautpngtest-p-500.png') }} 500w, {{ asset('img/hautpngtest-p-800.png') }} 800w, {{ asset('img/hautpngtest-p-1080.png') }} 1080w, {{ asset('img/hautpngtest-p-1600.png') }} 1600w, {{ asset('img/hautpngtest.png') }} 1920w"><img class="image-9" sizes="(max-width: 1920px) 100vw, 1920px" src="{{ asset('img/baspngtest.png') }}" srcset="{{ asset('img/baspngtest-p-500.png') }} 500w, {{ asset('img/baspngtest-p-800.png') }} 800w, {{ asset('img/baspngtest-p-1080.png') }} 1080w, {{ asset('img/baspngtest-p-1600.png') }} 1600w, {{ asset('img/baspngtest.png') }} 1920w">
  </div>
  
  <div class="section-7">
    <div class="container-4 w-container">
      <h1 class="heading-5" data-ix="fadedown">Journal de bord</h1>
      <h1 class="heading-6" data-ix="fadedown-2">username J-250</h1>
    </div>
  </div>
  <div class="section-6">
    <div class="container-5 w-container" data-ix="fadedown-3">
      <div class="div-block-10">
        <p id="story" class="paragraph-3">Loading...</p>
      </div>
    </div>
  </div>
  <div class="section-8">
    <div class="container-6 w-container" data-ix="movetoleft-2">
      <div class="div-block-11"><img class="image-5" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">

        <p id="response1" class="paragraph-4">Loading...</p>
        <div id="link1" class="linkchoice"><div class="divcheck" data-ix="clickcheck">
          <div class="div-block-13 w-preserve-3d"></div>
        </div><a class="button-4 w-button" href="#">Valider ce choix</a></div>
      </div>
      <div class="div-block-11"><img class="image-5" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
        <p id="response2" class="paragraph-4">Loading...</p>
        <div id="link2" class="linkchoice"><div class="divcheck" data-ix="clickcheck">
          <div class="div-block-13 w-preserve-3d"></div>
        </div><a class="button-4 w-button" href="#">Valider ce choix</a></div>
      </div>
      <div class="div-block-11"><img class="image-5" src="https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg">
        <p id="response3" class="paragraph-4">Loading...</p>
        <div id="link3" class="linkchoice"><div class="divcheck" data-ix="clickcheck">
          <div class="div-block-13 w-preserve-3d"></div>
        </div><a class="button-4 w-button" href="#">Valider ce choix</a></div>

      </div>
    </div>
  </div>
  
  <script  type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/gameJs.js') }}"></script>

{% endblock %}


