<script>
var username =  '{{ app.user.username }}';
console.log(username)
</script>

<h1>Ceci est le profil de {{ app.user.username }}</h1>
<p>La permission de cet utilisateur est: {{ app.user.role }}</p>
{{ app.user.id_user }}
{{ dump(userTest)}}